body {
    https://fonts.google.com/specimen/Roboto+Condensed#:~:text=Whereas%20disregard%20and%20contempt%20for%20human%20rights%20have%20resulted
    margin: 0;
    padding: 0;
    box sizzing:borderbox 
    font family : Roboto Condensed
}
body
{
    display:flex;
    justify-centent:center;
    align-item: center;
    min-height:100vh;
    bg color : #32CD32
}
.container
}
 margin:0 40px;
 max width : 600px;
    display :flex,
    flex -direction:column
    gap : 20 px;

}
.container.tab
{
    position : relative;
    bg :#DA70D6;
     padding : 0 15px 25 px rgba(0,0,0,0.5);
     border-radius: 5px;
     overflow :hidden;
}
     .container.tab input  


